{% extends "base.html" %}
{% block main %}
<div class="signup_form">
    <div class="card" style="width: 80%;">
        <div class="card-header">
            新規登録
        </div>
        <div class="card-body">
    <div class="row justify-content-center">
                <form method="post" action="{% url 'workout_app:signup' %}">
                    {% csrf_token %}
                    <table class="table">
                        <tr>
                            <td><label for="uname1">ユーザー名</label></td>
                            <td><input type="text"
                                name="username" 
                                id="username"
                                class="form-control form-control-lg"
                                required="true"
                                ></td>
                        </tr>
                        <!-- <tr>
                            <td><label>身長</label></td>
                            <td><input type="number"    
                                id="heights"
                                name="heights"
                                required="true"
                                class="form-control form-control-lg"
                                ></td>
                            <td>cm</td>
                        </tr>
                        <tr>
                            <td><label>体重</label></label></td>
                            <td><input type="number"    
                                id="weights"
                                name="weights"
                                required="true"
                                class="form-control form-control-lg"
                                ></td>
                            <td>kg</td>
                        </tr> -->
                        <tr>
                            <td><label for="id_password">パスワード</label></td>
                            <td><input type="password"    
                                id="password1"
                                name="password1"
                                required="true"
                                class="form-control form-control-lg"
                                autocomplete="new-password"></td>
                        </tr>
                        <tr>
                            <td><label>確認のためもう一度パスワード</label></label></td>
                            <td><input type="password" 
                                id="password2"
                                name="password2"
                                required="true"
                                class="form-control form-control-lg"
                                autocomplete="new-password"></td>
                        </tr>
                    </table>
                    {% if form.errors %}
                        <p class=" label label-danger">
                            入力に不備があります。
                        </p>
                    {% endif %}

                    <input type="submit" value="登録"
                        class="btn btn-primary pull-right" />
                </form>
                <p style="padding-top: 3%;"><a href="{% url 'login' %}">戻る</a></p>
            </div>
        </div>
        <div class="card-footer">
            ユーザー名とパスワードは忘れないようにしてください。
        </div>
      </div>
</div>
{% endblock %}
